.cards-section {
    /* background-attachment: fixed; */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* height: 100vh; */
    width: 100%;
    /* padding: 1.5rem; */
}

.filters-container {
    /* height: 8vh; */
    background-color: rgba(255, 255, 255, 0.253);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-container {
    /* margin-top: 2rem !important; */
    width: 100%;
}

.citie-card {
    max-width: 100% !important;
    /* max-height: 100% !important; */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.card-content:hover {
    background-color: rgb(51, 51, 51, 0.2) !important;
}

.search-input {
    color: white !important;
}

.city-container {
    height: 60vh;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.city-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    background-color: rgba(9, 14, 12, 0.31);
    padding: 1rem;
}

.itineraries-section {
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.itineraries-container {
    width: 100%;
}

@media screen and (max-width: 300px) {
    .city-container {
        height: 60vh !important;
    }
}


.city-description {
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.705) !important;
    width: 80%;
}

.itinerary-card-container {
    background-color: rgba(34, 34, 34, 0.98) !important;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    color: #fff !important;
}

.itinerary-card-container:hover {
    background-color: rgba(61, 61, 61, 0.98) !important;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.7);
}

.itinerary-hashtag{
    cursor: pointer;
    color:rgba(218, 218, 218,0.5);
}
.itinerary-hashtag:hover{
    color:grey;
}
.activities-container {
    display: flex;
    animation: displayElement 2s !important;
}


.comments-section{
    background-color: rgb(26, 25, 25);
    border-radius: 5px;
    padding-bottom: 1rem;
}

/* Card Loader */
.card {
    width: 190px;
    height: 90px;
    background: #ffff;
    box-shadow: 0 1px 25px rgba(0, 0, 0, 0.2);
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    padding: 12px 10px;
}

.card_load {
    width: 70px;
    height: 70px;
    position: relative;
    float: left;
    background: linear-gradient(120deg, #e5e5e5 30%, #f0f0f0 38%, #f0f0f0 40%, #e5e5e5 48%);
    border-radius: 50%;
    background-size: 200% 100%;
    background-position: 100% 0;
    animation: load89234 2s infinite;
}

.card_load_extreme_title {
    width: 90px;
    height: 10px;
    position: relative;
    float: right;
    border-radius: 5px;
    background: linear-gradient(120deg, #e5e5e5 30%, #f0f0f0 38%, #f0f0f0 40%, #e5e5e5 48%);
    background-size: 200% 100%;
    background-position: 100% 0;
    animation: load89234 2s infinite;
}

.card_load_extreme_descripion {
    width: 90px;
    height: 47px;
    position: relative;
    float: right;
    border-radius: 5px;
    background: linear-gradient(120deg, #e5e5e5 30%, #f0f0f0 38%, #f0f0f0 40%, #e5e5e5 48%);
    margin-top: 10px;
    background-size: 200% 100%;
    background-position: 100% 0;
    animation: load89234 2s infinite;
}

@keyframes load89234 {
    100% {
        background-position: -100% 0;
    }
}

@keyframes displayElement {
    0%   {display: none;}
    100%   {display: flex;}
}

















@media screen and (max-width: 599px) {
    .city-title {
        font-size: 2rem !important;
    }

    .city-description {
        font-size: 0.5rem !important;
    }

}

@media screen and (max-width: 300px) {
    .hero-container {
        height: 100vh !important;
    }

    .city-title {
        font-size: 2rem !important;
    }

    .city-description {
        font-size: 0.4rem !important;
    }

    .cities-subtitle {
        font-size: 1rem !important;
    }
}