.cards-section {
    /* background-attachment: fixed; */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* height: 100vh; */
    width: 100%;
    /* padding: 1.5rem; */
}

.filters-container {
    /* height: 8vh; */
    background-color: rgba(255, 255, 255, 0.253);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-container {
    /* margin-top: 2rem !important; */
    width: 100%;
}

.citie-card {
    max-width: 100% !important;
    /* max-height: 100% !important; */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.card-content:hover{
    background-color:rgb(51, 51, 51, 0.2) !important;
}

.search-input {
    color: white !important;
}

.city-description{
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.705)!important;
    width: 70%;
    
}