@import url('https://fonts.googleapis.com/css2?family=Charm:wght@400;700&family=Comfortaa:wght@400;700&family=Cookie&family=Lobster+Two&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

.hero-container {
    display: flex;
    height: 90vh;
    width: 100%;
    background-image: url(../../public/img/home-hero.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hero-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    background-color: rgb(28, 114, 64, 0.2);
    padding: 1rem;
}

.text-primary{
    color:#00695c;
}

.text-secondary{
    color:#fffefe;
}
.bg-primary{
    background-color:#00695c;
}

.bg-secondary{
    background-color:#fffefe;
}

.font-title {
    font-family: 'Cookie', cursive;
}

.font-slogan {
    font-family: 'Charm', cursive;
    font-weight: 700;
}

.font-normal {
    /* font-family: 'Comfortaa', cursive; */
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
}
.font-weird{
    font-family: 'Lobster Two', cursive;
}

.text-shadow-light {
    text-shadow: 3px 3px #ffffff;
}

.text-shadow-blur-light {
    text-shadow: 3px 3px 3px #ffffff;
}

.text-shadow-primary {
    text-shadow: 3px 3px #00695c;
}